# Legal stuff
include LICENSE NOTICE
# Include the pre-built bindings for standard schema
recursive-include pyxb/standard *.py *.wxs
# Include all the unit tests
recursive-include tests *.py *.xsd *.xml
# Include the scripts and any other garbage helpful to the maintainer
recursive-include maintainer *.sh
# Documentation, not including cached W3C material
recursive-include doc *.txt
# Examples
recursive-include examples *.txt *.py *.sh *.xsd *.xml
prune doc/W3C
